<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <label for="username">
            <input id="username" name="username" type="text" placeholder="Username">
        </label><br/>
        <label for="password">
        <input id="password" name="password" type="password" placeholder="Password">
        </label><br/>
        <button type="submit">login</button>
    </form>
    <div>
        <a href="/oauth2/authorization/google">Google</a>
    </div>
    <form th:action="@{/users/registration}" method="get">
        <button type="submit">Registration</button>
    </form>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>
</body>
</html>