<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div th:text="${user.username}">
    </div>
    <div th:if="${!hasSubscribe}">
        <form th:action="@{/users/subscribe/{userId}(userId=${user.id})}">
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <div th:if="${hasSubscribe}">
        <form th:action="@{/users/unsubscribe/{userId}(userId=${user.id})}">
            <button type="submit">Unsubscribe</button>
        </form>
    </div>
    <div>
        <p th:text="${subscribes}">1</p>
    </div>
</body>
</html>