<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form th:action="@{/home/{id}(id=${post.id})}" th:method="PATCH" th:object="${post}">
        <label for="title">
            <input id="title" type="text" name="title" th:value="*{title}">
        </label><br/>
        <label for="content">
            <textarea id="content" th:field="*{content}"></textarea>
        </label><br/>
        <button type="submit">Update</button>
    </form>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>
</body>
</html>